<!DOCTYPE html>
<html lang="en">
<head>
  <%- include meta.ejs %>
</head>
<body>
  <% if(dashboard){ %>
  <% if(history){ %>
  <section class="content dashboard-content history">
  <% } else { %>
  <section class="content dashboard-content">
  <% } %>
    <div class="container">
      <%- include dashboard_nav.ejs %>
      <%- content %>
    </div>
  </section>
  <% } else { %>
  <section class="content">
    <div class="container">
      <%- content %>
    </div>
  </section>
  <% } %>
  <%- include script.ejs %>
</body>
</html>
